.container {
    background:rgba(2, 60, 117, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width:409px;
    display:flex;
    left:35%;
    position: absolute;
    flex-direction: column;
  }
  
  .logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
  }
  
  .register-item {
      color: #ffff;
      padding:25px 25px 0;
      margin: 20px 20px 0;	
      border-radius: 3px;
  }
  
  input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  
  .user:before {
    content: '\f007';
    font: 14px fontawesome;
      color: #5b5b5b;
  }
  
  .lock:before {
    content: '\f023';
    font: 14px fontawesome;
      color: #5b5b5b;
  }
  
  .form input[type="text"], input[type="password"], .form input[type="email"], .form input[type="submit"] {
    width: 100%;
  }
  
  .form-register label,
  .form-register input[type="text"],
  .form-register input[type="email"],
  .form-register input[type="password"],
  .form-register input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;  
  }
  
  .form-register label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .form-register input[type="email"], .form-register input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .form-register input[type="email"]:focus, .form-register input[type="email"]:hover, .form-register input[type="password"]:focus, .form-register input[type="password"]:hover {
    background-color: #eeeeee;
  }
  .form-register input[type="submit"] {
    background-color: rgb(86, 69, 238);
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
  }
  .form-register input[type="submit"]:focus, .form-register input[type="submit"]:hover {
    background-color: #120a2e;
  }
  .form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .text--center {
    text-align: center;
  }
  