<!-- 
    Login template using Angular Material
    @author Shashank Tiwari 
-->

<!-- Application header starts -->
<!-- <div class="app-header">
    <h1 class="app-heading">Login Page</h1>
</div> -->
<!-- Application header ends -->

<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>

    <!-- Writing markup for login starts -->
    <mat-grid-tile class='login-element'>
        <div class="login-container">

            <!-- Template Header starts -->
            <div class="login-box-header">
                Login Area
            </div>
            <!-- Template Header ends -->

            <!-- Template Body starts -->
            <div class="login-box-body">

                <!-- Markup for getting Username starts -->
                <mat-grid-list cols="9" rowHeight="75px">
                    <mat-grid-tile [rowspan]="1" class="login-icon">
                        <mat-icon>lock</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <!-- <mat-input-container class="justifier"> -->
                            <input matInput placeholder="Username" type="text" [(ngModel)]="username">
                        <!-- </mat-input-container> -->
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Username ends -->

                <!-- Markup for getting Password starts -->
                <mat-grid-list cols="9" rowHeight="100px">
                    <mat-grid-tile [rowspan]="1"  class="login-icon">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <!-- <mat-input-container class="justifier"> -->
                            <input matInput placeholder="Password" type="password" [(ngModel)]="password">
                        <!-- </mat-input-container> -->
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Password ends -->

                <button mat-raised-button class="login-button" (click)="login()"> 
                    <mat-icon>input</mat-icon> Login
                </button>

            </div>
            <!-- Template Body ends -->
            
        </div>
    </mat-grid-tile>
    <!-- Writing markup for login ends -->
    <mat-grid-tile></mat-grid-tile>

</mat-grid-list>