<mat-toolbar [ngStyle]="{'width':'100%','height':'10%','background':'green'}">
  <h1 [ngStyle]="{'color':'white'}">Project Title</h1>
  <button mat-button [matMenuTriggerFor]="user" [className]="'userMenu'">
    <img src='../../assets/profile-user.svg' [ngStyle]="{'width':'25px','height':'25px'}">User</button>
  <mat-menu #user>
    <!-- <button mat-menu-item [routerLink]="['/home']">Home</button> -->
    <button mat-menu-item [routerLink]="['/login']">Sign In</button>
    <button mat-menu-item [routerLink]="['/reg']">Sign Up</button>
    </mat-menu>
</mat-toolbar>